In [ ]:
# Q1
import pandas as pd
data = {
    "Tid": [1,2,3,4,5,6,7,8,9,10],
    "Refund": ["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status": ["Single","Married","Single","Married","Divorced",
                       "Married","Divorced","Single","Married","Single"],
    "Taxable Income": ["125K","100K","70K","120K","95K",
                       "60K","220K","85K","75K","90K"],
    "Cheat": ["No","No","No","No","Yes",
              "No","No","Yes","No","Yes"]
}
df = pd.DataFrame(data)
print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [ ]:
# Q2
print(df.loc[[0,4,7,8]])

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

In [ ]:
# Q3 (i)
print(df.loc[3:7])

   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes

In [ ]:
# (ii)
print(df.iloc[4:9,2:5])

  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No

In [ ]:
# (iii)
print(df.iloc[:,1:4])

  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [ ]:
# Q4
data = pd.read_csv("/content/sample_data/Iris.csv")
df = data.head()
print(df)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# Q5
# Delete row 4
# Delete row 4
df_new = df.drop(4, axis=0)

# Delete column 3 (index = 2)
df_new = df_new.drop(df_new.columns[2], axis=1)

print(df_new.head(10))

KeyError: '[4] not found in axis'

In [1]:
# Q6
import pandas as pd

# Create dataset (as dictionary)
data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': pd.to_datetime(['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25']),
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}

# Create DataFrame
df = pd.DataFrame(data)

# (a) Shape of DataFrame
print("Shape (rows, columns):", df.shape)

# (b) Summary of DataFrame (info)
print("\nSummary of DataFrame:")
print(df.info())

# (c) Descriptive statistics
print("\nDescriptive Statistics:")
print(df.describe())

# (d) Display first 5 rows and last 3 rows
print("\nFirst 5 rows:")
print(df.head())
print("\nLast 3 rows:")
print(df.tail(3))

# (e) Calculate statistics
print("\nStatistics:")
print("Average Salary:", df['Salary'].mean())
print("Total Bonus:", df['Bonus'].sum())
print("Youngest Age:", df['Age'].min())
print("Highest Rating:", df['Rating'].max())

# (f) Sort by Salary (descending)
print("\nDataFrame sorted by Salary (descending):")
print(df.sort_values(by='Salary', ascending=False))

# (g) Add new column 'Performance_Category'
def categorize_rating(r):
    if r >= 4.5:
        return "Excellent"
    elif r >= 4.0:
        return "Good"
    else:
        return "Average"

df['Performance_Category'] = df['Rating'].apply(categorize_rating)
print("\nDataFrame with Performance_Category:")
print(df)

Shape (rows, columns): (5, 10)

Summary of DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      datetime64[ns]
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 532.0+ bytes
None

Descriptive Statistics:
       Employee_ID        Age       Salary  Years_of_Experience  \
count     5.000000   5.000000      5.00000             5.000000
mean    103.000000  34.000000  60000.00000             7.400000
min     101.000000  28.000000  50000.00000             3.000000
25%     102.000000  29.000000  55000.00000             4.000000
50%     103.000000  34.000000  60000.00000             8.000000
75%     104.000000  38.000000  65000.00000            10.000000
max     105.000000  41.000000  70000.00000            12.000000
std       1.581139   5.612486   7905.69415             3.847077

              Joining_Date   Bonus    Rating
count                    5     5.0  5.000000
mean   2016-08-20 00:00:00  5500.0  4.100000
min    2010-11-25 00:00:00  4500.0  3.500000
25%    2013-06-01 00:00:00  5000.0  3.800000
50%    2017-07-19 00:00:00  5000.0  4.000000
75%    2020-03-15 00:00:00  6000.0  4.500000
max    2021-02-10 00:00:00  7000.0  4.700000
std                    NaN  1000.0  0.494975

First 5 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Last 3 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Statistics:
Average Salary: 60000.0
Total Bonus: 27500
Youngest Age: 28
Highest Rating: 4.7

DataFrame sorted by Salary (descending):
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

DataFrame with Performance_Category:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating Performance_Category
0   2020-03-15  Female   5000     4.5            Excellent
1   2017-07-19    Male   7000     4.0                 Good
2   2013-06-01    Male   6000     3.8              Average
3   2021-02-10  Female   4500     4.7            Excellent
4   2010-11-25    Male   5000     3.5              Average

In [2]:
# (h) Identify missing values
print("\nMissing values in DataFrame:")
print(df.isnull().sum())

# (i) Rename Employee_ID column to ID
df.rename(columns={'Employee_ID': 'ID'}, inplace=True)
print("\nDataFrame with renamed column:")
print(df.head())

# (j) Find employees
print("\nEmployees with more than 5 years of experience:")
print(df[df['Years_of_Experience'] > 5])

print("\nEmployees belonging to IT department:")
print(df[df['Department'] == 'IT'])

# (k) Add new column 'Tax' (10% of Salary)
df['Tax'] = df['Salary'] * 0.10
print("\nDataFrame with Tax column:")
print(df[['Name', 'Salary', 'Tax']])

# (l) Save modified DataFrame to CSV
df.to_csv("employees_modified.csv", index=False)
print("\nModified DataFrame saved as 'employees_modified.csv'")

Missing values in DataFrame:
Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance_Category    0
dtype: int64

DataFrame with renamed column:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category
0  Female   5000     4.5            Excellent
1    Male   7000     4.0                 Good
2    Male   6000     3.8              Average
3  Female   4500     4.7            Excellent
4    Male   5000     3.5              Average

Employees with more than 5 years of experience:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average
4   Male   5000     3.5              Average

Employees belonging to IT department:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average

DataFrame with Tax column:
      Name  Salary     Tax
0    Alice   50000  5000.0
1      Bob   70000  7000.0
2  Charlie   65000  6500.0
3    Diana   55000  5500.0
4   Edward   60000  6000.0

Modified DataFrame saved as 'employees_modified.csv'